.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6rem;
}

.name{
  font-size: 5em;
  margin-bottom: auto;
}

.title{
  font-size: 2em;
  margin-bottom: auto;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

